  body{
    --bg-color: rgb(22, 22, 22);
    --bg-color-nav: #4d4d4d;
    --gy: greenyellow;
    --img-border: white;
    --border-nav: #fff;
    --link-color:#efefef;
    --nav-hover: rgba(0, 0, 0, 0.3);
    --popup-bg: rgba(43, 37, 78, 0.5); 
    --popup-heading: rgb(70, 70, 70);
    --do: #2e2c36;
  }
  
  body.dark-theme{
    --bg-color: rgb(255 255 255);
    --bg-color-nav: #cbcbcb;
    --gy: #436193;
    --img-border: #2e2e2e;
    --border-nav: #383838;
    --link-color: #464646;
    --nav-hover: rgb(255 255 255);
    --popup-bg: rgb(116 116 116 / 50%);
    --popup-heading: rgb(203 203 203);
    --do: rgb(225, 225, 225);
  }
  * {
      box-sizing: border-box;
    }
  body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: var(--bg-color-nav);
    position: relative;
    padding: 0 10px 0 10px;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: var(--gy);
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav-links > .user-name{
    display: inline-block;
    font-size: small;
    color: var(--gy);
    padding-right: 10px;

  }
  .nav > .nav-links > button {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 10px 8px 10px;
    color: var(--gy);
    background-color: var(--bg-color-nav);
    border: 2px solid var(--border-nav);
    border-radius: 5px;
  }

  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: var(--link-color)
  }
  
  .nav > .nav-links > a:hover{
    background-color: var(--nav-hover);
  }
  
  .nav > .nav-links > button:hover {
    background-color: var(--nav-hover);
  }

  .nav > #nav-check {
    display: none;
  }

  .card > img{
      
      border: 10px solid var(--img-border);
      /* box-shadow: 1px 1px 5px 1px #959595; */
    }
  .container{
      padding: 20px;
      width: 100%;
      height: calc(100vh - 50px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      /* flex-flow: row wrap; */
      justify-content: space-around;
      align-items: flex-start;
      gap: 30px;
  }

  .popup-box{
      z-index:1;
      display: flex;
      display: none;
      height:100vh;
      width: 100vw;
      top:50px;
      left:0px;
      background: var(--popup-bg);
      position: absolute;
      justify-content: center;
      align-items: center;
    }
    
  .close-popup-button{
      color: var(--gy);
      position: relative;
      z-index: 3;
      right: -105%;
      top:-20px;
      border-radius: 20px;
      font-weight: bolder;
      font-size: larger;
  }

  .content{
      z-index:2;
      position: absolute;
      top: 10vh;
      /* left: calc(100vw - 70vw); */
      border: 2px solid var(--gy);
      width: 40vw;
      max-width: 500px;
      min-width: 350px;
      height: 300px;
      opacity: 1;
      background-color: var(--gy);
  }
  .content > h3{
    text-align: center;
    font-style: italic;
    color: var(--popup-heading);
  }
  .content > hr{
    margin-bottom: 20px;
    color: var(--gy);
  }
  .inp-form{
    height: 90%;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;    
    align-content: flex-start;
    column-gap: 30px;
    margin: auto;
  } 

  .input-ele{
    border: 2px solid gray;
    border-radius: 5px;
    height: 30px;
    margin: 15px;
    width: 250px;
  }

  .inp-form > button {
    display: inline-block;
    margin: 15px 30px 5px 30px;
    padding: 8px 10px 8px 10px;
    color: var(--bg-color-nav);
    background-color: var(--gy);
    border: 2px solid var(--bg-color-nav);
    border-radius: 5px;
  }
  .inp-form > button:hover{
    background-color: var(--link-color);
  }
  .inp-form > .img-view{
    height: 270px;
    width: 270px;
    margin: 15px;
    background-color: var(--bg-color-nav);
    border: 10px solid var(--img-border);
  }

  .dialog{
    z-index:5;
    display: flex;
    display: none;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    background: var(--popup-bg);
  }

  .error{
    border-color: #ff3860;
  }

  .success{
    border-color: #09c372;
  }

  .dialog-content{
    position: absolute;
    top: 30vh;
    border: 6px solid var(--img-border);
    width: 40vw;
    max-width: 500px;
    min-width: 350px;
    height: 200px;
    opacity: 1;
    background-color: var(--do);
    text-align: center;
    padding-top: 40px;
    color: var(--img-border);
  }
  .dialog-content > button{
    display: inline-block;
    margin: 15px 30px 5px 30px;
    padding: 8px 10px 8px 10px;
    color: var(--bg-color-nav);
    background-color: var(--gy);
    border: 2px solid var(--bg-color-nav);
    border-radius: 5px;
  }

  .dialog-content > button:hover{
    background-color: var(--link-color);
  }

  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: var(--nav-hover);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid var(--link-color);
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: var(--bg-color-nav);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        overflow-y: auto;
        height: calc(400px);
    }
  }